<footer class="footer">
    <div class="footer-container">
      <div class="footer-brand">
        <h3>ScoutGine</h3>
        <p>Inteligencia futbolística basada en datos</p>
      </div>
  
      <div class="footer-links">
        <a href="#planes">Planes</a>
        <a href="#servicios">Servicios</a>
        <a href="#app-download">App</a>
        <a href="#contacto">Contacto</a>
      </div>
  
      
  
      <div class="footer-social">
        <a href="#"><i class='bx bxl-instagram'></i></a>
        <a href="#"><i class='bx bxl-twitter'></i></a>
        <a href="#"><i class='bx bxl-linkedin'></i></a>
      </div>
      <div class="footer-contact">
        <p><i class='bx bxs-phone'></i> +54 9 11 1234-5678</p>
        <p><i class='bx bxs-envelope'></i> contacto@scoutgine.com</p>
        <p><i class='bx bxs-map'></i> Buenos Aires, Argentina</p>
      </div>
    </div>
  
    <div class="footer-bottom">
      <p>&copy; 2025 ScoutGine. Todos los derechos reservados.</p>
    </div>
  </footer>
  