
<header >
    <nav class="header-landing">
    <a href="{% url 'home' %}" class="a-logo">
        <img class="logo" src="https://res.cloudinary.com/dgc07kho5/image/upload/v1746370646/image__2_-removebg-preview_u7jt6u.png" alt="">
    </a>

    <div class="div-headerlan">
        <ul class="div-headerlan-ul">
            <li class="headerlan-ul-li"><a class="li-a-header" href="">Nosotros</a></li>
            <li class="headerlan-ul-li"><a class="li-a-header " href="#servicios">Servicios</a></li>
            <li class="headerlan-ul-li"><a class="li-a-header" href=" #app-download">Aplicacion Movil</a></li>
            <li class="headerlan-ul-li"><a class="li-a-header" href="">Planes</a></li>
            <li class="headerlan-ul-li"><a class="li-a-header" href="">Contacto</a></li>
        </ul>
    </div>
</nav>
</header>
