{% if request.resolver_match.url_name == 'ligas' %}
<div class="topnav-searchbar">
    <input type="text" placeholder="Buscar..." class="topnav-search-input">
</div>
<div class="top-nav-actions">
    <a href="#" id="btn-tablas" class="nav-action-btn active">Tabla</a>
    <a href="#" id="btn-stats-equipo" class="nav-action-btn">Stats Equipo</a>
    <a href="#" id="btn-stats-jugadores" class="nav-action-btn">Stats Jugadores</a>
</div>
{% endif %}

{% if request.resolver_match.url_name == 'menu' %}
<div class="topnav-searchbar">
    <input type="text" placeholder="Buscar..." class="topnav-search-input">
</div>
{% endif %}

{% if request.resolver_match.url_name == 'comparacion' %}
<div class="topnav-searchbar">
    <input type="text" placeholder="Buscar..." class="topnav-search-input">
</div>
<div class="top-nav-actions">
    <a href="#" id="btn-equipos" class="nav-action-btn active">Equipos</a>
    <a href="#" id="btn-jugadores" class="nav-action-btn">Jugadores</a>
</div>
{% endif %}

{% if request.resolver_match.url_name == 'equipo_detalle' %}
<div class="topnav-searchbar">
    <input type="text" placeholder="Buscar..." class="topnav-search-input">
</div>
<div class="top-nav-actions">
    <a href="#" id="btn-tablas" class="nav-action-btn active">Equipo</a>
    <a href="#" id="btn-stats-equipo" class="nav-action-btn">Plantilla</a>
    <a href="#" id="btn-stats-jugadores" class="nav-action-btn">Estadísticas</a>
</div>
{% endif %}

{% if request.resolver_match.url_name == 'jugador_detalle' %}
<div class="topnav-searchbar">
    <input type="text" placeholder="Buscar jugador..." class="topnav-search-input">
</div>
<div class="top-nav-actions">
    <a href="#" id="btn-info" class="nav-action-btn active">Información</a>
    <a href="#" id="btn-stats" class="nav-action-btn">Estadísticas</a>
</div>
{% endif %}

{% if request.resolver_match.url_name == 'estadisticas' %}
<div class="topnav-searchbar">
    <input type="text" placeholder="Buscar estadísticas..." class="topnav-search-input">
</div>
<div class="top-nav-actions">
    <a href="#" id="btn-general" class="nav-action-btn active">General</a>
    <a href="#" id="btn-ofensivo" class="nav-action-btn">Ofensivo</a>
    <a href="#" id="btn-defensivo" class="nav-action-btn">Defensivo</a>
    <a href="#" id="btn-portero" class="nav-action-btn">Portero</a>
</div>
{% endif %}