{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ScoutGine | Ligas</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/ag-grid-community/styles/ag-grid.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/ag-grid-community/styles/ag-theme-alpine.css"
    />
    
    <script src="https://cdn.jsdelivr.net/npm/ag-grid-community/dist/ag-grid-community.min.noStyle.js"></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;700&family=Rajdhani:wght@300;400;500;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'myapp/css/statsequipo.css' %}" />
    <link rel="stylesheet" href="{% static 'myapp/css/menu.css' %}" />
    <link rel="stylesheet" href="{% static 'myapp/css/ligas.css' %}" />
    <link rel="stylesheet" href="{% static 'myapp/css/topnav.css' %}" />
    <link rel="stylesheet" href="{% static 'myapp/css/statsjugadores.css' %}">

    <script src="{% static 'myapp/js/ligas.js' %}"></script>
    <script src="{% static 'myapp/js/topnav.js' %}"></script>
    <script src="{% static 'myapp/js/statsequipo.js' %}"></script>
        <script src="{% static 'myapp/js/statsjugadores.js' %}"></script>

    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>

  <body>
    {% include 'partials/header.html' %}
    {% include 'partials/topnav.html' %}

    <main class="main-content">
      <div id="tablas-container">
        {% include 'partials/tablas.html' %}
      </div>
      <div id="stats-equipos-container" style="display:none;">
        {% include 'partials/statsequipo.html' %}
      </div>
      <div id="stats-jugadores-container" style="display:none;">
        {% include 'partials/statsjugadores.html' %}
      </div>
    </main>
  </body>
</html>
